header{
  position: sticky;
  top: 0;
  z-index: 10;
  height: 3.5rem;
  background-color: var(--color-navy);
  color: var(--color-cold);
}
nav{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.nav-items-left{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
}
.nav-brand{
  text-align: end;
}
.nav-brand-text{
  margin-left: 1rem;
  margin-bottom: 0;
}
.list-items{
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.nav-link{
  color: var(--color-cold);
  text-decoration-line: none;
  background: transparent;
  border: navajowhite;

  -moz-text-decoration-line: none;
}
.nav-link i{
 transition: 0.3s;
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 -ms-transition: 0.3s;
 -o-transition: 0.3s;
}
.nav-link:hover i,
.nav-link:focus-visible i{
  color: var(--color-blue);
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.nav-link:focus-visible{
  box-shadow: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  nav{
    justify-content: normal;
    grid-template-columns: 1fr;
  }
  .nav-items-left{
    margin-left: 1rem;
    grid-template-columns: 15% 85%;
  }
  .nav-brand {
    text-align: center;
  }
  .nav-brand-text {
    margin: 0;
  }
  .nav-items-right{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-items-right{
    display: grid;
    justify-content: center;
    align-items: center;
  }
}