.scroll-button{
  position: fixed;
  right: 0;
  bottom: 25%;
  height: max-content;
  z-index: 1;
  cursor: pointer;
  width: 65px;
  height: 40px;
  padding: 0;
  background-color: var(--color-navy);
  vertical-align: middle;
  text-align: left;
  border: 1px solid var(--color-navy);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: 0.3s;
}
.scroll-button:hover{
  background-color: var(--color-blue);
  cursor: pointer;
  border: 1px solid var(--color-blue);
  border-right-color: var(--color-blue);
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}
.scroll-button:focus-visible{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: 2px solid var(--color-blue) !important;
}