.title-container{
  height: max-content;
  display: flex;
  margin: 0 auto 1rem ;
}
.section-title {
  text-align: left;
  font-weight:300; 
  color:var(--color-blue);
  text-transform: uppercase;
}
.title-container i{
  color: var(--color-navy);
  margin: 3px 7px 7px;
}
@media only screen and (max-width: 767px) {
  .title-container i {
    font-size: 1.8rem; 
  }
  .section-title {
    font-size: 1.8rem; 
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title-container i{
    font-size: 1.8rem; 
  }
  .section-title {
    font-size: 1.8rem; 
  }
}