@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --color-navy: #23374D;
  --color-blue: #1089FF;
  --color-grey: #E5E5E5;
  --color-cold: #EEEEEE;

  background-color: var(--color-grey);
  color: var(--color-navy);
  font-family: "Space Mono", monospace;
  user-select: none;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.other-section{
  width: 60%;
  margin: 5rem auto 1rem;
}
.title-container{
  height: max-content;
  margin: 1.5rem auto;
}
.section-title {
  text-align: center;
  font-weight:300; 
  color:var(--color-blue);
  text-transform: uppercase;
  
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}
  
.section-title:after, .section-title:before {
  content: " ";
  display: block;
  border-bottom: 1px solid var(--color-navy);
  border-top: 1px solid var(--color-navy);
  height: 5px;
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  .section-title {
    font-size: 2.2em; 
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 4em; 
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}