@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --color-navy: #23374D;
  --color-blue: #1089FF;
  --color-grey: #E5E5E5;
  --color-cold: #EEEEEE;

  background-color: var(--color-grey);
  color: var(--color-navy);
  font-family: "Space Mono", monospace;
  user-select: none;
}

*{
  box-sizing: border-box;
  margin: 0;
}